:root {
  --color-button-text: #fff;

  --color-primary-100: #dee3ea;
  --color-primary-200: #c1cddf;
  --color-primary-300: #5d7290;
  --color-primary-400: #3a4c64;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;

  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(253, 77, 77, 0.3);

  --color-accent-zoom: #5d7290;
  --color-accent-zoom-hover: #323d4d;

  --color-accent: #d44141;
  --color-accent-hover: #c96868;
  --color-accent-disabled: #f5bfbf;
}

.video-card {
  background-color: var(--color-primary-700);
  border-radius: 10px;
  margin-top: 30px;
  padding: 1px;
}

.video-card img {
  margin-top: 20px;
  display: block;
  width: 90%;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: 0.3s ease;
}

.video-card img:hover {
  transform: scale(1.05);
}

.video-details {
  font-size: 13px;
  color: var(--color-primary-200);
  margin-bottom: 15px;
  text-align: center;
  margin-top: 3px;
}

.video-details h4 {
  font-weight: 700;
  padding: 5px;
}

.content .download-btn {
  position: absolute;
  bottom: 0;
  width: 83.5%;
  margin-bottom: 35px;
  height: 50px;
  border: none;
  background-color: var(--color-primary-300);
  color: var(--color-button-text);
  font-weight: 800;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  font-size: 14px;
}

.content .download-btn:hover {
  background-color: var(--color-primary-700);
}

.options-btn {
  margin-bottom: 15px;
  margin-top: 20px;
  height: 50px;
  border: none;
  background-color: var(--color-primary-300);
  color: var(--color-button-text);
  border-radius: 10px;
  font-weight: 800;
  font-size: 14px;
  width: 83.5%;
  transition: 0.2s ease;
}

.options-btn:hover {
  background-color: var(--color-primary-200);
  transform: scale(1.05);
}

.popup-on {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  height: 210px;
  background-color: var(--color-primary-700);
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  animation: toogleOn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.popup-on {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  height: 210px;
  background-color: var(--color-primary-700);
  border: none;
  border-radius: 10px;

  animation: toogleOn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.popup-off {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  height: 210px;
  background-color: var(--color-primary-700);
  border: none;
  border-radius: 10px;

  animation: toogleOff;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.options-container {
  z-index: 2;
  margin: 30px;
}

.options-container select {
  font-weight: 500;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  outline: none;
  height: 25px;
  width: 100px;
}

.options-container select option {
  font-weight: 500;
  outline: none;
}

@keyframes toogleOn {
  from {
    margin-top: -300px;
    opacity: 0%;
  }
  to {
    margin-top: 0;
    opacity: 100%;
  }
}

@keyframes toogleOff {
  from {
    margin-top: 0;
    opacity: 100%;
  }
  to {
    margin-top: -300px;
    opacity: 0%;
  }
}

@media screen and (max-width: 680px) {
  .popup-on {
    width: 100%;
  }

  .popup-off {
    width: 100%;
  }

  .options-container select {
    width: 140px;
  }

  .content .download-btn {
    width: 93%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
